* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    background-color: #F1F1E8;
    background-repeat: no-repeat;
}