* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    outline: none;
}

html {
    overflow-y: scroll;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #F1F1E8;
    background-repeat: no-repeat;
}

.fontLoginLeftSideOne {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px; /* 106.25% */
    margin-top: 210px;
    margin-left: 80px;
}

.fontLoginTwoLeftSideTwo {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 24px;
    margin-left: 80px;
}

.imageOne {
    width: 516px;
    height: 513px;
    flex-shrink: 0;
    margin-left: 54px;
}

.fontTitle {
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.wrapper {
    position: relative;
    margin-top: 64px;
    margin-bottom: 64px;
    margin-right: 45px;
    border-radius: 24px;
    border: 1px solid rgba(102, 102, 102, 0.50);
    background: #FFF;
    width: 772px;
    height: 840px;
    flex-shrink: 0;
    padding-left: 88px;
    padding-top: 150px;
    padding-right: 88px;
    padding-bottom: 60px;
    box-shadow: 0 0 8px rgba(0,0,0,0.4);
}

.top-row {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
    > div {
        float:left;
        width:48%;
        margin-right:4%;
        &:last-child { 
        margin:0;
        }
    }
}

.policy {
    display: flex;
}

.wrapper form .control-form {
    height: 83px;
    width: 50%;
    margin: 32px 0;
}

form .control-form input {
    height: 56px;
    width: 259px;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    padding-left: 15px;
}

.wrapper form .data {
    height: 60px;
    width: 100%;
    margin: 40px 0;
}

form .data input {
    height: 56px;
    width: 100%;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    padding-left: 15px;
}

.wrapper form .policy {
    padding-top: 32px;
}

form .policy p {
    padding-left: 15px;
    font-weight: 600;
}

.wrapper form button {
    padding-top: 30px;
    width: 250px;
    height: 64px;
    padding: 15px 83px 16px 83px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 21px;
    margin-top: 26px;
    border-radius: 32px;
    background-color: #7BBE85;
    color: white;
    transition: 0.4s;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-items: center;
}

form .links p {
    padding-top: 45px;
    padding-left: 15px;
}

.btn:hover button {
    opacity: 0.3;
}

.butt {
    display: flex;
}